<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a computer scientist with a strong foundation in object-oriented design principles and a diverse set of programming languages under my belt. 
          Throughout my university studies, I gained proficiency in C++, C#, C, Python, and Java, enabling me to tackle a wide range of software development projects. 
          These languages have provided me with a solid understanding of programming paradigms and allowed me to explore various problem-solving approaches.</p>
      </div>
      <div class="col-lg-4">
        <p>Beyond the confines of academia, I have also dedicated my personal time to expand my skill set. 
          I pursued my passion for game development by leveraging Unity, a popular game engine, and mastering the art of creating video games using C#. 
          The hands-on experience I gained through online platforms like Udemy has equipped me with the practical skills needed to design and develop engaging and immersive gaming experiences.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Moreover, I have delved into the fascinating field of data science, specifically focusing on machine learning and deep learning. 
          By diving deep into topics such as machine learning algorithms, neural networks, and advanced statistical modeling, I have acquired a comprehensive understanding of core data science principles. 
          In fact, I took the initiative to further validate my expertise by successfully completing the TensorFlow certification exam.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Within the realm of data science, I have honed my skills in computer vision, natural language processing, and forecast modeling. 
          These areas have captivated my interest due to their profound impact on various industries and their potential to unlock valuable insights from vast amounts of data. 
          Through practical projects and continuous learning, I have gained hands-on experience in implementing cutting-edge techniques and algorithms to tackle real-world challenges.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>With my combined knowledge and expertise in software development, game development, and data science, I am excited to take on new opportunities and contribute to innovative projects that push the boundaries of technology.</p>
      </div>
    </div>
  </div>
</section>
