<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>       
          Presently, I am pursuing a Master’s degree in quality systems engineering with a focus on computer vision and AI via machine learning. My journey started with a BSc. in Computer Science, where I was fascinated by programming and design that shaped my mastery of languages such as C++, C#, Python, Java among others. Along the way, I have delved into game development using Unity, dived into the esoteric world of data science and also got hands-on experience working TensorFlow as well as PyTorch which are pushing the frontiers of machine learning and deep learning.
          
          My love for creating games or making sense out of vast datasets through neural networks or even untangling complex problems has always been driven by challenges. Obtaining my TensorFlow certification made me feel proud, but I wanted more knowledge. Through every project carried out whether it involves computer vision, natural language processing or predictive modeling; finding fulfilled joy in unearthing such gems and applying what has been learned to effect real life change. In these skills lies my trajectory but there is also fascination with the destination they will take me to such us innovative projects that are remaking our technological landscape.</p>
      </div>
    </div>
  </div>
</section>
